#pk_header{
    background-color: #555473;
}

.top-bar .container .row{
    padding-top: 5px;
    padding-bottom: 10px;
}
.top-bar .container .row .top-bar-2{
    color: #d9edf7;
    font-size: 40px;
}


#pk_section1 .container .row ul{
    padding-top: 40px;
}
#pk_section1 .container .row ul li{
    float:left;
    font-size: 14px;
    padding: 6px 12px;
    cursor: pointer;
    text-decoration: none;
}
#pk_section1 .container .row ul .active_write{
    background-color: #d9edf7;
}


a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}
/*-------------------------------pk_section2-------------------------------*/

#pk_section2 ul li div span{
    color: #66d9ef;
    font-size: 25px;
}
#pk_section2 ul li div ul li{
    color: #9d9d9d;
    margin-left:20px;
    margin-top: 10px;
    line-height: 30px;
}
.uldisplay{
    display:none;
}

/*----------------boot----------------*/
/*.panel-group{*/
    /*!*background-color: transparent;*!*/
/*}*/
.panel{
	border:none;
	/*box-shadow: 0 1px 1px rgba(0,0,0,0.05);*/
	box-shadow: none;
    background-color: transparent;
    color:#9d9d9d;
}

.panel-title > a{
    color:#66d9ef;
    font-size: 25px;
}

#title .panel .panel-heading{
	background-color: transparent;
}
#title .panel .panel-collapse div{
	background-color:transparent;
	border:none;
}
.panel-body {
	padding-top:10px;
	padding-bottom: 10px;
}
#title .panel .panel-heading .panel-title a:hover{
	text-decoration: none;
}
#title .panel .panel-heading .panel-title a:visited{
	text-decoration: none;
}
#title .panel .panel-heading .panel-title a:link{
	text-decoration: none;
}
/*---------------boot---------------*/
#pk_section2 .recontain .row{
    margin-top: -10px;
}
#pk_section2 .recontain .row .core{
    /*position: absolute;*/
    /*left:0px;*/
    /*top:0px;*/
    height:660px;
    background-color: #d9edf7;
}
#pk_section2 .recontain .row{

}

/*-------------------------------pk_section2-------------------------------*/